node_modules/
dist/
.expo/
.env
.env.local
.env*.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
serviceAccount.json
build/
ios/
.vercel/
mypetdex-key.json
serviceAccount.json
*.json.key
*-key.json
*serviceAccount*
service-account.json
