:root {
  --mpd-blue: #4486F4;
  --mpd-bg: #F0F5FF;
}

html {
  background-color: var(--mpd-bg);
}

body {
  margin: 0;
  background-color: var(--mpd-bg);
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background-color: var(--mpd-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
